<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        table {

            margin: auto;
            width: 50%;
        }

        .center {
            margin: auto;

            padding: 10px;
        }

        h2 {
            text-align: center;
        }
    </style>
    <title>Staff</title>
</head>
<body>


<h2 class="center">Staff Name and Email Address Alias Table</h2>
<a href="/enron/lais-log">see more</a>

<table class="table table-bordered" style="width:75%">
    <tr>
        <th>No</th>
        <td>Name</td>
        <td>Email Address</td>
        <td>Type</td>

    </tr>
    {% for staff in staff_list %}
        <tr>
            <td rowspan="{{ staff.1 | length }}">{{ forloop.counter }}</td>
            <td rowspan="{{ staff.1 | length }}"><a href="{% url 'staffsummery' staff.0 %}" >{{ staff.0 }}</a></td>
            <td>{{ staff.1.0.0 }}</td>
            {% if staff.1.0.1 %}
                    <td>trusted</td>
            {% else %}
                    <td  style="color:Tomato;">untrust</td>
            {% endif %}
        </tr>
        {% for email,isTrusted in staff.1|slice:"1:" %}
            <tr>
                <td>{{ email }}</td>
                {% if isTrusted %}
                    <td>trusted</td>
                {% else %}
                    <td  style="color:Tomato;">untrust</td>
                {% endif %}
            </tr>
        {% endfor %}

    {% endfor %}
</table>
</body>
</html>