<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h2>Three special cases:</h2>
<p>1.The name of directory is wrong.</p>
<ul>
    <li>crandell-s -----> crandall-s</li>
    <li>merriss-s -----> merris-s</li>
    <li>rodrique-r -----> rodrigue-r</li>
    <li>stclair-c -----> clair-c</li>
    <li>williams-w3 -----> williams-bill or williams-b</li>
</ul>

<p>2. There is no any email sent or received for the email address which contains the word gilbertsmith. After check the
    emails in the sent directory, his real email address is doug.gilbert-smith@enron.com, so I think this person has a
    middle name in this full name, and the keyword using for checking out the email address should be gilbert-smith, so
    chang the directory name as:</p>
<ul>
    <li>gilbertsmith-d ---->gilbert-smith-d</li>
</ul>

<p>3.Two directories are belong to the same person</p>
<ul>
    <li> After checking the sent directory, both whalley-l and whalley-g are belong to whalley-greg.</li>
    <li>And both phanis-s and panus-s are belong to panus-s</li>
    <li> So delete whalley-l and phanis-s from the StaffName table.</li>
</ul>
</body>
</html>