<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style> /* set the CSS */

/*rect.bar { fill: steelblue; }*/

</style>
</head>
<body>
</body>

 <!-- load the d3.js library -->
<script src="//d3js.org/d3.v4.min.js"></script>
<script>

// set the dimensions and margins of the graph
var margin = {top: 10, right: 30, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

// get the data
d3.csv("{% static "enron/a.csv" %}", function(error, data) {
  if (error) throw error;


  // parse the date / time
var parseDate = d3.timeParse("%Y-%m-%d %H:%M:%S");

// set the ranges
var x = d3.scaleTime()
          .domain([new Date(1999, 12, 10), new Date(2001, 6, 20)])
          .rangeRound([0, width]);
var y = d3.scaleLinear()
          .range([height, 0]);

// set the parameters for the histogram
var histogram = d3.histogram()
    .value(function(d) { return d.date; })
    .domain(x.domain())
    .thresholds(x.ticks(d3.timeMonth));

// append the svg object to the body of the page
// append a 'group' element to 'svg'
// moves the 'group' element to the top left margin
var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");


  splitIndex = 1;
  // format the data
  data.forEach(function(d) {
      d.date = parseDate(d.dtg);
  });


  // group the data for the bars
  var bins = histogram(data);

  // Scale the range of the data in the y domain
  y.domain([0, d3.max(bins, function(d) { return d.length; })]);



  var i;
  var sum = 0;

  for (i = 0; i < bins.length; i++)
  {
      sum += bins[i].length
  }

  var tempSum = 0;
  var af = sum * 0.5;
  for (i = 0; i < bins.length; i++)
  {
      tempSum += bins[i].length;
      if (tempSum > af )
      {
          splitIndex = i;
          break;
      }
  }





  // append the bar rectangles to the svg element
  svg.selectAll("rect")
      .data(bins)
      .enter().append("rect")
      .attr("class", "bar")
      .attr("x", 1)
      .attr("transform", function(d) {
		  return "translate(" + x(d.x0) + "," + y(d.length) + ")"; })
      .attr("width", function(d) { return x(d.x1) - x(d.x0) -1 ; })
      .attr("height", function(d) { return height - y(d.length); })
      .attr("fill", function (d,i){
          if (i > splitIndex)
          return "Salmon"
            else
            return "steelblue"});


  // add the x Axis
  svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

  // add the y Axis
  svg.append("g")
      .call(d3.axisLeft(y));

});

</script>

</html>